@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter var', sans-serif;
  }
}

@layer components {
  .main-menu-link {
    @apply font-semibold text-base leading-6 text-dark hover:text-secondary;
  }

  .header-navbar {
    @apply absolute inset-x-0 top-0 z-50 border-b-2 border-secondary border-opacity-40;
    @apply bg-white border-b-2 border-secondary border-opacity-40;
  }

  .social-icon {
    color: var(--icon-color);

    @apply brightness-90 hover:brightness-125;
  }

  .facebook-icon {
    --icon-color: #4267b2;

    @apply social-icon;
  }

  .instagram-icon {
    --icon-color: #c13584;

    @apply social-icon;
  }

  .twitter-icon {
    --icon-color: #1da1f2;

    @apply social-icon;
  }

  .youtube-icon {
    --icon-color: #f00;

    @apply social-icon;
  }

  .tiktok-icon {
    --icon-color: #000;

    @apply social-icon;
  }
}
