@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter var', sans-serif;
  }
}

@layer components {
  .main-menu-link {
    @apply text-dark hover:text-secondary text-base font-semibold leading-6;
  }

  .header-navbar {
    @apply border-secondary inset-x-0 top-0 z-50 border-b-2 border-opacity-40;
    @apply border-secondary border-b-2 border-opacity-40 bg-white;
  }

  .social-icon {
    color: var(--icon-color);

    @apply brightness-90 hover:brightness-125;
  }

  .facebook-icon {
    --icon-color: #4267b2;

    @apply social-icon;
  }

  .instagram-icon {
    --icon-color: #c13584;

    @apply social-icon;
  }

  .twitter-icon {
    --icon-color: #1da1f2;

    @apply social-icon;
  }

  .youtube-icon {
    --icon-color: #f00;

    @apply social-icon;
  }

  .tiktok-icon {
    --icon-color: #000;

    @apply social-icon;
  }
}
