@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter var', sans-serif;
  }
}

@layer components {
  .main-menu-link {
    @apply font-semibold text-base leading-6 text-dark hover:text-secondary;
  }

  .header-navbar {
    @apply absolute inset-x-0 top-0 z-50 border-b-2 border-secondary border-opacity-40;
    @apply bg-white border-b-2 border-secondary border-opacity-40;
  }
}

@layer utilities {
  .grayed-out-disabled {
    @apply disabled:opacity-50;
  }
}
